*{
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #000;
}

.canvas
{
  top: 15%;
  position: absolute;
  width: 50%;
  height: 50%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform: perspective(10000px) rotate3d(1,1,0,45deg);
  -webkit-transform: perspective(10000px) rotate3d(1,1,0,45deg);
  -moz-transform: perspective(10000px) rotate3d(1,1,0,45deg);
}

.circle
{
  position: absolute;
  width: 35em;
  height: 35em;
  background: radial-gradient(circle at 100px 100px,teal,red,indigo,black,blue);
  border-radius: 50%;
  box-shadow: 0 0 5px 0.05px gray;
}
